<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dehaagsehogeschool.digiveilig">

    <application
        android:label="@string/digiveilig_game_name"
        android:isGame="true"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="dehaagsehogeschool.digiveilig.App">

        <activity
            android:name="dehaagsehogeschool.digiveilig.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Digiveilig spel-->
        <activity
        android:name="dehaagsehogeschool.digiveilig.spel.DigiveiligSpelActivity"
        android:screenOrientation="portrait" />
        <activity android:name="dehaagsehogeschool.digiveilig.spel.DigiveiligSpelResultActivity"
        android:screenOrientation="portrait" />

        <!--Games-->
        <activity android:name=".spel.games.MemoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".spel.games.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spel.games.ScenarioActivity"
            android:screenOrientation="portrait" />

        <!--Digiveilig toets-->
        <activity
        android:name="dehaagsehogeschool.digiveilig.toets.DigiveiligToetsActivity"
        android:screenOrientation="portrait" />
        <activity
        android:name="dehaagsehogeschool.digiveilig.toets.DigiveiligToetsResultsActivity"
        android:screenOrientation="portrait" />
        <activity
        android:name="dehaagsehogeschool.digiveilig.toets.DigiveiligToetsAnnouncementActivity"
        android:screenOrientation="portrait" />
        <activity
        android:name="dehaagsehogeschool.digiveilig.toets.DigiveiligToetsEndActivity"
        android:screenOrientation="portrait" />

        <!--Help-->
        <activity
        android:name="dehaagsehogeschool.digiveilig.HelpActivity"
        android:screenOrientation="portrait" />
    </application>
</manifest>