<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dehaagsehogeschool.digiveilig">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:isGame="true"
        android:label="@string/digiveilig_game_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Digiveilig spel -->
        <activity
            android:name=".spel.DigiveiligSpelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spel.DigiveiligSpelResultActivity"
            android:screenOrientation="portrait" />

        <!-- Games -->
        <activity
            android:name=".spel.games.MemoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spel.games.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spel.games.ScenarioActivity"
            android:screenOrientation="portrait" />

        <!-- Digiveilig toets -->
        <activity
            android:name=".toets.DigiveiligToetsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".toets.DigiveiligToetsResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".toets.DigiveiligToetsAnnouncementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".toets.DigiveiligToetsEndActivity"
            android:screenOrientation="portrait" />

        <!-- Help -->
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".InstructionsActivity"></activity>
    </application>

</manifest>